{% extends '@SfWebAppCms/layout.html.twig' %}
{% block content %}
<h1>voir toutes les videos</h1>
<ul>
    {% if videos %}
            <ul>
                {% for video in videos %}
                        <li>{{ videos.title|escape }}</li>
                    <li>{{ videos.categories|escape }}</li>
                {% endfor %}
            </ul>
    {% else %}
        <h2>il n'y a pas encore de video</h2>
    {% endif %}
</ul>
{% endblock %}