<!DOCTYPE html>
<html>
  <footer>
    <div class="sectionFooter">
      <div class="sectionFooter__live">
        <p class=sectionFooter__sectionName>Live</p>
        <ul>
          <li>How to play with an octopus</li>
          <li>Learning words with Iron Man</li>
          <li>Pokémon is over, meet Poke &amp; share</li>
        </ul>
      </div>

      <div class="sectionFooter__account">
        <p class=sectionFooter__sectionName>Account</p>
        <ul>
          <li>Personal schedule</li>
          <li>Preferences</li>
          <li>Help</li>
        </ul>
      </div>

      <div class="sectionFooter__news">
        <p class=sectionFooter__sectionName>News</p>
        <ul>
          <li>Exclusive episode of Pokémon</li>
          <li>Japan is awesome</li>
          <li>Meet Pikachu french voice</li>
          <li>Apple bought Octopus for 4M $</li>
          <li>Google is now hosting Bob l’Éponge</li>
        </ul>
      </div>

      <div class="sectionFooter__informations">
        <p class=sectionFooter__sectionName>Informations</p>
        <ul>
          <li>CGU</li>
          <li>Mentions légales</li>
          <li>Cookies</li>
          <li>Confidentialité</li>
        </ul>
      </div>

      <div class="sectionFooter__scheduling">
        <p class=sectionFooter__sectionName>Scheduling</p>
        <ul>
          <li>Octopus #1</li>
          <li>Octopus #2</li>
          <li>Octopus #3</li>
        </ul>
      </div>
    </div>

    <div class="generalConditions">
      <div class="generalConditions__seriesName">
        <p>Octopus</p>
      </div>
      <div class="generalConditions__projectName">
        <p>Projet SymfonyTV</p>
      </div>
      <div class="generalConditions__legacy">
        <p>© 2017 Octopus Company</p>
      </div>
    </div>
  </footer>
</html>
