<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="app.css">
    <title></title>
  </head>
  <body>
    <div class="videoLive">
      <div class="videoLive__thumbnail">
        <p class="videoLive__channel"></p>
        <img src="" alt="">
      </div>
      <div class="videoLive__progressBar">
        <div class="videoLive__progress"></div>
      </div>
      <div class="videoLive__infos">
        <div class="videoLive__infosSchedule">
          <p></p>
        </div>
        <div class="videoLive__infosTitle">
          <h3></h3>
        </div>
      </div>
    </div>


    <h2 class="octopus__title">News</h2>
    <nav class="news__nav"></nav>
    <div class="articles__container">
      <article class="news__article">
        <div class="news__articleTitle">
          <h3>exclusive episode of Pokémon on friday 14.10.2022 - Octopus #3</h3>
        </div>
        <div class="news__articleVideo">

        </div>

      </article>
    </div>
  </body>
</html>
