<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="videoLive">
      <div class="videoLive__thumbnail">
        <p class="videoLive__channel"></p>
        <img src="" alt="">
      </div>
      <div class="videoLive__progressBar">
        <div class="videoLive__progress"></div>
      </div>
      <div class="videoLive__infos">
        <div class="videoLive__infosSchedule">
          <p></p>
        </div>
        <div class="videoLive__infosTitle">
          <h3></h3>
        </div>
      </div>
    </div>
  </body>
</html>
