<div class="videoLive__container">
  <h2>Live</h2>
  {% for video in videos %}
    <article class="videoLive">
      <div class="videoLive__thumbnail">
        <p class="videoLive__channel">{% video.channel %}</p>
        <img class="videoLive__img" src="{% video.thumbnail %}" alt="">
      </div>
      <div class="videoLive__duration">
        <div class="videoLive__progress"></div>
      </div>
      <div class="videoLive__infos">
        <p class="videoLive__infosSchedule">{% video.start %} - {% video.end %}</p>
        <h4 class="videoLive__infosTitle">{% video.title %}</h4>
      </div>
    </article>
  {% endfor %}
</div>