{% extends '::cms.html.twig' %}

{% block nav %}
    <nav>
        <a href="{{ path('sf_web_app_back_office_security_login') }}">login</a>
    </nav>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
{% endblock %}