<h2>Ajouter une annonce</h2>

{{ include("@SfWebAppBackOffice/Default/form.html.twig") }}

<p>
    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
</p>