header
    position: relative

    p
        margin-bottom: 0

.header__connect
    background-color: $mediumgray

    padding: 10px 0

.header__connectContainer
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: flex-end
    align-content: space-between

    .connect_name, .connect__account
        flex-grow: 1

.header__brand
    padding: 25px 0
    background-color: $lightgray

    h1
        font-family: 'montserratLight'
        font-size: 2.25rem
        margin-bottom: 0

        .brandActivity
            font-family: 'montserratMedium'

.headerChannels
    background-color: $mediumgray
    padding: 10px 0

    .header__channelsContainer
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center
        justify-content: space-between

        p
            margin-bottom: 0

        .header__channelsList

            .channel__home
                background-color: $darkgray

            .channel__item
                width: 50px
                height: 34px
                background-color: $darkgray
                display: inline-block
                margin: 0 12.5px
                transform: translateY(4px)

            .octopus--1
                background-color: $octopus-1

            .octopus--2
                background-color: $octopus-2

            .octopus--3
                background-color: $octopus-3
