html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: transparent;
  color: #000;
  outline: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 1em;
  height: 1em;
  vertical-align: middle; }

select, select, select {
  background: transparent;
  background-repeat: no-repeat;
  background-position: 97% center;
  padding: 0 25px 0 8px;
  font-size: 0.875em; }

body {
  font-family: "montserratMedium";
  font-size: 16px;
  line-height: 1.618; }

p {
  font-size: 1rem;
  margin-bottom: 1.5em; }

h3 {
  color: #494949;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 0.55em; }

@font-face {
  font-family: "montserratMedium";
  src: url("../fonts/montserrat-mediummontserrat-medium-webfont.woff2") format("woff2");
  src: url("../fonts/montserrat-mediummontserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "montserratLight";
  src: url("../fonts/montserrat-lightmontserrat-light-webfont.woff2") format("woff2");
  src: url("../fonts/montserrat-lightmontserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.container {
  max-width: 80em;
  margin: 0 auto;
  padding: 20px; }

section {
  margin-bottom: 3.125rem; }

.videoLive__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

.videoLive, .videoNews {
  background-color: #494949;
  margin: 10px; }
  .videoLive__thumbnail, .videoLive .videoLive__thumbnail, .videoNews__thumbnail, .videoNews .videoLive__thumbnail {
    background-color: #EBEBEB;
    padding: 1.25em; }
  .videoLive__duration, .videoNews__duration {
    height: 8px;
    width: 100%;
    position: relative;
    background-color: #D8D8D8; }
  .videoLive__progress, .videoNews__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30%;
    background-color: #FDBE02; }
  .videoLive__infos, .videoNews__infos {
    padding: 10px 20px 22px 20px; }
  .videoLive__infosSchedule, .videoNews__infosSchedule {
    color: #D8D8D8;
    font-size: 0.875rem;
    margin-bottom: 0.375em; }
  .videoLive__infosTitle, .videoNews__infosTitle {
    color: #fff; }

.videoNews:nth-child(1), .videoNews:nth-child(2) {
  display: none; }

.videoNews {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 8px solid #0072BB; }
  .videoNews__thumbnail {
    width: 60%; }
  .videoNews__infos {
    padding: 60px 50px 80px 60px; }
  .videoNews__infosTitle {
    font-size: 1.5rem;
    margin-bottom: 0.8em; }
  .videoNews__infosExcerpt {
    color: #fff;
    font-family: "montserratLight";
    margin-bottom: 1.25em; }
  .videoNews__link {
    color: #fff;
    font-size: 0.875rem;
    text-decoration: underline; }

body {
  background-image: url("../img/mosaic.png");
  background-size: 48px 36px; }

/*# sourceMappingURL=app.css.map */
