<header>
    <section class="header__connect">
        <div class="container">
            <div class="header__connectContainer">
                <div class="connect__account">
                    <p>Account</p>
                </div>
            </div>
        </div>
    </section>

    <section class="header__brand">
        <div class="container">
            <h1>Octopus<span class="brandActivity">Replay</span></h1>
        </div>
    </section>

    <section class="headerChannels">
        <div class="container">
            <div class="header__channelsContainer">
                <div class="header__channelsList">
                    <div class="channel__item home"></div>
                    <div class="channel__item octopus--1"></div>
                    <div class="channel__item octopus--2"></div>
                    <div class="channel__item octopus--3"></div>
                </div>

                <div class="header__channelsCategories">
                    <p>TV Shows | Movies | Sport</p>
                </div>
            </div>
        </div>
    </section>
    <div class="octopod"></div>
</header>
