<div class="header__connect">
    <div class="connect__name">
        <p>SymfonyTV</p>
    </div>
    <div class="connect__menu">
        <p>MyTV/</p>
        <p>Channel 1</p>
    </div>
    <div class="connect__account">
        <p>Account</p>
    </div>
</div>

<div class="header__search">
    <div class="search__name">
        <p>OctopusTV</p>
    </div>
    <div class="search__searchBar">
        <p>Search among 11235 videos</p>
    </div>
</div>
<div class="header__channels">
    <div class="channels__menu">
        <p>TV Shows</p>
        <p>Movies</p>
        <p>Sport</p>
    </div>
    <div class="channels__game">
        <p>Games</p>
    </div>
</div>



<nav>
    <ul>
        <li>
            <a href="{{ path('sfwebapp_frontoffice_default_index') }}">Home</a>
        </li>
    </ul>
</nav>